*{
    margin:0;
    padding:0;
  }
.container {
    display: grid;
    height: 1500px;
    grid-template-rows: 1fr 6fr 6.5fr 4.5fr 2fr;
    grid-auto-columns: auto;
    grid-template-areas:
    "header"
    "hero"
    "highlights"
    "testimonials"
    "about"
    "footer";
    font-family:MarkaziText;/************/
  }
/*Header*/
.header{
    grid-area: header;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    padding:0.5em;
    justify-content: space-evenly;
}
#logo{
    width:15vw;
}
.navbar{
    display:inline-flex;
    flex-flow: row wrap;
}
.nav-item{
    text-decoration: none;
    color:#333333;
    font-family:Karla;
    font-size: 18px;
    font-weight:bold;
    justify-items: stretch;
    padding-left:1em;
}
.header a:hover{
    color: #F4CE14;
}
.header a:active{
    color: #495E57;
    font-weight:bolder;
}
  /*Hero*********************************************/
.hero{
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
    background-color: #495E57;
    align-items: center;
    padding: 0 5em 0 5em;
    position:relative;
    height:38em;
}
.hero::before {
  content: '';
  position:absolute;
  inset:0;
  background-image: url(./assets/restaurantfood.jpg);
  background-repeat: repeat;
  background-attachment:local;
  background-position: center;
  background-size: cover;
  opacity:0.15;
}
.heroInfo{
    grid-column: 1/span 5;
    display:flex;
    flex-flow: column wrap;
    overflow: hidden;
}
.heroInfo h1{
    color: #F4CE14;
    font-size: 64px;
    font-weight:bold;
}
.heroInfo h2, p{
    color: #EDEFEE;
    font-size: 40px;
    font-weight: normal;
}
.heroInfo p{
    padding-top: 1em;
}
button{
    padding:0.5em;
    background-color:#F4CE14;
    border-radius: 16px;
    color:#333333;
    font-family:Karla;
    font-size: 24px;
    font-weight:bold;
    cursor:pointer;
}
button:hover,
button:focus-visible {
  background-color: #fde676;
}
.reservebtn button{
  margin-top:0.5em;
  position:absolute;
}
/* .heroImg{
    grid-column: 6/span 6;
    width:25vw;
    border-radius:16%;
    position:relative;
    top:5em;
} */

/*Highlights*****************************/
.highlights{
    grid-area: highlights;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto;
    margin:1em 5em;
  }
.promoheading{
    grid-row:1;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
 }
.promoheading h1{
    font-weight: bolder;
    font-size: 40px;
}
.promoheading button{
  cursor:default;
}
.promoheading button:hover,
.promoheading button:focus-visible {
  background-color: #F4CE14;
}
.promocard{
    grid-row:2;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.promocard section{
    background-color: #EDEFEE;
    font-family: 'Karla';
    border-radius: 16px;
    padding:0.5em;
    width:20vw;
}
.promoImg{
    width:100%;
    height:auto;
}
.promotitle{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-weight: bold;
}
.promotitle h1{
    font-size: 16px;
}
.promotitle h2{
    font-size: 16px;
    color:#EE9972
}
.promocard p{
    display: flex;
    font-size: 16px;
    color: #495E57;
    margin: 0.5em;
}
.promocard button{
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor:default;
}
.promocard button:hover,
.promocard button:focus-visible {
  background-color: #F4CE14;
}
/*Testimonials********************************************/
.testimonials {
    grid-area: testimonials;
    display:grid;
    grid-template-rows: 1fr 2fr;
    background-color: #FBDABB;
    font-family: Karla;
    color:#333333;
  }
  .testimonials h1{
    grid-row:1;
    font-weight:bolder;
    font-size:20px;
    margin:auto;
  }
  .testicards{
    grid-row:2;
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    margin:0 5em 2em 5em;
    padding: 2em 0em;
    gap:4em;
    overflow-x: auto;
  }
  .testicards section{
    background-color: #EE9972;
    border-radius: 16px;
    padding:0.5em;
    width:20vw;
    height: fit-content;
    position: relative;
  }
  .testititle {
    display: flex;
    margin:1em 0 1em 0;
    align-items: center;
    justify-content: stretch;
  }
  .star{
    display:flex;
    flex-direction: row;
  }
  .star>img{
    width: 1.5em;
    height: auto;
  }
  .testititle h1, h2{
    font-weight: bold;
    font-size:14px;
  }
  .testicustomer{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .testicustomer >img{
    width:30%;
  }
  .testicards p{
      grid-row:3;
      font-weight: bold;
      font-size:14px;
      color: #333333;
  }

 /*~~~~~~~~~~~~Footer~~~~~~~~~~~*/
 .footer{
    grid-area: footer;
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    padding:auto 5em auto 5em;
  }
  .footer >img {
    grid-column: 1 / span 3;
    width:40%;
    margin:auto;
  }
  .footerInfo {
    grid-column: 4 / span 11;
    display: flex;
    flex-flow: row wrap;
    padding:1em;
    gap:2em;
  }
  .footerInfo ul{
    display: flex;
    flex-direction: column;
    list-style:none;
  }
  .footerInfo a {
    color: #edefee;
    text-decoration: none;
    font-family:Karla;
    font-size:18px;
    font-weight:medium;
  }
  .footernav a:hover {
    color: #495E57;
    background-color: #EDEFEE;
  }
  .footerInfo li {
    color: #edefee;
    text-decoration: none;
    font-family:Karla;
    font-size:18px;
    font-weight:medium;
  }
  .footersocials a{
    padding: 0.1em;
  }
  .footernav a:hover {
    color: #495E57;
    background-color: #EDEFEE;
  }
  .footersocials a:hover{
    box-shadow: 5px 0px 5px #EE9972;
  }
  /*~~~~~~~~~~~~ReservationForm~~~~~~~~~~~*/
  .reservePage{
    display: grid;
    grid-template-rows: 3fr 1fr;
  }
  .reserve{
    grid-row:1;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #495E57;
    padding:1em 5em 1em 5em;
  }
  .reserveLeftSide{
    grid-column: 1 / span 6;
  }
  .reserveLeftSide h1{
    color: #F4CE14;
    font-size: 64px;
    font-weight: medium;
  }
  .reserveLeftSide p{
    color: #EDEFEE;
    font-size: 40px;
    font-weight: normal;
  }
  .reserveLeftSide >img{
    width:60%;
    border-radius:16%;
  }
  .reserveLeftSide #ImgB{
    margin-left:7em;
    margin-top:-2em
  }
  .reserveForm{
    grid-column: 7 / span 12;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Karla';
    font-weight: bolder;
    color: #EDEFEE;
    margin:auto auto auto 1em;
  }
   .reserveForm h1{
    font-size: 20px;
    padding-bottom:0.5em;
  }
  .reserveForm .selection{
    padding: 0.5em;
  }
  .selection input{
    border: none;
    border-radius: 16px;
    color: #495E57;
    padding:0.2em;
    font-weight: bold;
    font-size: 16px;
    text-align:justify;
  }
  .selection select{
    border: none;
    border-radius: 16px;
    color: #495E57;
    padding:0.2em;
    font-weight: bold;
    font-size: 16px;
    text-align:justify;
  }
  .selection .seatin, .seatout{
    display:flex;
    flex-flow: row wrap;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    justify-content: space-between;
  }
  .reserveformButton {
    padding:0.2em;
    background-color: #F4CE14;
    border-radius: 16px;
    color:#333333;
    font-family:Karla;
    font-size: 18px;
    font-weight:bold;
    margin-top:1em;
  }
    /*~~~~~~~~~~~~FooterWhite~~~~~~~~~~~*/
    .footerWhite{
      grid-row:2;
      display: grid;
      grid-template-columns: repeat(12,1fr);
      align-items: center;
      padding:auto 5em auto 5em;
      background-color:#EDEFEE;
    }
    .footerWhite >img {
      grid-column: 1 / span 3;
      width:30%;
      margin:auto;
      padding:1em;
    }
    .footerWhiteInfo {
      grid-column: 4 / span 11;
      display: flex;
      flex-flow: row wrap;
      padding:1em;
      gap:2em;
    }
    .footerWhiteInfo ul{
      display: flex;
      flex-direction: column;
      list-style:none;
    }
    .footerWhiteInfo a {
      color: #495E57;
      text-decoration: none;
      font-family:Karla;
      font-size:18px;
      font-weight:medium;
    }
    .footerWhiteInfo li {
      color: #495E57;
      text-decoration: none;
      font-family:Karla;
      font-size:18px;
      font-weight:medium;
    }
    .footerWhitersocials a{
      padding: 0.1em;
    }
    .footeWhiternav a:hover {
      background-color: #495E57;
      color: #EDEFEE;
    }
    .footerWhitersocials a:hover{
      box-shadow: 5px 0px 5px #EE9972;
    }
  /*~~~~~~~~~~~~UserDetails~~~~~~~~~~~*/
  .userDetailsPage{
    display:grid;
    grid-template-rows: 3fr 1fr;
  }
  .userDetails{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: #495E57;
    padding: 2em 5em 2em 5em;
  }
  .tittleRow1{
    grid-row:1;
  }
  .tittleRow1 h1{
    color: #F4CE14;
    font-size: 64px;
    font-weight: medium;
  }
  .bookingDetails{
    grid-row:2;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  .confirmedDetails{
    grid-column: 1;
  }
  .confirmedDetails h3{
    color: #EDEFEE;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .bookingConfDetails{
    background-color: #fbe5d1;
    border-radius: 16px;
    border-color: none;
    width:max-content;
    text-align: left;
    padding: 1em 1em;
  }
  .bookingConfDetails p {
    color: #333333;
    font-family: 'Karla';
    font-weight: lighter;
    font-size: 22px;
    padding:0.5em;
  }
  .userDetailsForm{
    grid-column:2;
    display:flex;
    flex-flow: column wrap;
    gap:1em;
  }
  .userDetailsForm h3{
    color: #EDEFEE;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .userDetailsForm label{
    font-family: 'Karla';
    font-weight: normal;
    font-size: 18px;
    color:#EDEFEE;
  }
  .userDetailsForm input{
    border: none;
    border-radius: 16px;
    color: #495E57;
    padding:0.3em;
    font-weight: bold;
    font-size: 16px;
    text-align:justify;
    margin-top:0.3em;
  }
  .userDetailsForm textarea{
    color: #333333;
    border-radius: 16px;
    font-family: 'Karla';
    font-weight: bold;
    font-size: 18px;
    padding:0.5em;
    width:40%
  }
  .userDetailsForm span{
    font-family: 'Karla';
    font-weight: bolder;
    font-size: 18px;
    color:#EE9972;
  }
  .userDetailsForm button{
    font-size: 18px;
    margin-top:1em;
  }
  /*~~~~~~~~~~~~Payment~~~~~~~~~~~*/
  .paymentPage{
    display:grid;
    grid-template-rows: 3fr 1fr;
  }
  .payment{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #495E57;
    padding: 2em 5em 2em 5em;
  }
  .paymentRow1{
    grid-row:1;
  }
  .payTitle h1{
    color: #F4CE14;
    font-size: 64px;
    font-weight: medium;
  }
  .payform{
    grid-column: 2;
    display:flex;
    flex-flow:column wrap;
    color: #EDEFEE;
  }
  .payform h3{
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 0.5em;
  }
  .payform input{
    border: none;
    border-radius: 16px;
    color: #495E57;
    padding:0.3em;
    font-weight: bold;
    font-size: 16px;
    text-align:justify;
    margin-top:0.3em;
    width:max-content;
  }
  .payfield{
    display:flex;
    flex-flow: column wrap;
  }
  .payform label{
    font-family: 'Karla';
    font-weight: normal;
    font-size: 18px;
    color:#EDEFEE;
  }
  .payfield span{
    font-family: 'Karla';
    font-weight: bolder;
    font-size: 18px;
    color:#EE9972;
  }
  .paycvv{
    display:flex;
    flex-flow: row wrap;
    gap:1em;
  }
  .payconf{
    display:flex;
    flex-direction: row;
  }
  .payButton{
    font-size: 18px;
    margin-top:1em;
    cursor:pointer;
  }
@media (max-width:920px) {
    .container {
        height: 500vh;
    }
    .header{
        display: flex;
        flex-direction: column;
        padding:1em;
        gap:0;
    }
    #logo{
        width:30vw;
    }
    .nav-item{
        padding-left:1em;
    }
    .hero{
        position:relative;
        align-items: center;
        justify-content: center;
        padding:1em;
        height:30em;
      }
    .hero::before {
        content: '';
        position:absolute;
        inset:0;
        background-image: url(./assets/restaurantfood.jpg);
        background-repeat: repeat;
        background-attachment:local;
        background-position: center center;
        background-size: cover;
        opacity:0.2;
      }
      .hero >img{
        width:0px;
      }
    .heroInfo h1{
        font-size: 40px;
        position:relative;
    }
    .heroInfo h2{
        font-size: 28px;
        position:relative;
    }
    .heroInfo p{
        padding-top: 1em;
        font-size: 26px;
    }
    .reservebtn button{
        margin:0.5em auto 0.5em auto;
        font-size: 20px;
        position:relative;
    }
    .highlights{
        margin:1em;
        grid-template-rows: 0.5fr 7fr;
      }
    .promocard{
        flex-flow: column wrap;
        margin:auto;
        gap:2em
    }
    .promocard section{
        width:60vw;
    }
    .promoheading h1{
        font-weight: bolder;
        font-size: 28px;
        padding:0.5em
    }
    .promoheading button{
        font-size: 20px;
        margin-bottom:1em;
        font-size:20px;
    }
    .testimonials {
        grid-template-rows: 0.5fr 7fr;
        height: 75em;
      }
    .testicards{
        flex-flow: column wrap;
        gap:1em;
        margin:0 auto 1em auto;
        justify-content: space-between;
        padding: 0em;
        overflow-y: auto;
    }
    .testicards section{
        width:60vw;
    }
    .footer >img {
      width:80%;;
    }
      .reservePage{
        display: grid;
        grid-template-rows: 1fr 1fr;
      }
      .reserve{
        display: flex;
        flex-flow:column wrap;
        position:relative;
      }
      .reserve::before {
        content: '';
        position:absolute;
        inset:0;
        background-image: url(./assets/restaurant.jpg);
        background-repeat: repeat;
        background-attachment:local;
        background-position: center center;
        background-size: cover;
        opacity:0.4;
      }
       .reserveLeftSide h1, p{
        font-size: 40px;
        position:relative;
      }
      .reserveLeftSide >img{
       width:0px;
      }
      .reserveForm{
        position:relative;
        margin-top:1em;
      }
      .loginSignup{
        display: flex;
        flex-direction:column;
        padding: 1em;
      }
      .clientForms{
        display: flex;
        flex-direction:column;
        padding:2em;
      }
      .login{
        margin:3em 0 0 0;
      }
      .userDetailsPage{
        display: grid;
        grid-template-rows: 1fr 1fr;
      }
      .userDetails{
        display:inline-block;
      }
      .tittleRow1 h1, p{
        font-size: 40px;
      }
      .bookingDetails{
        display:flex;
        flex-flow:row wrap;
        gap:2em;
      }
      .confirmedDetails h3{
        font-size: 20px;
        margin-top:1em;
        margin-bottom: 0.5em;
      }
      .userDetailsForm h2{
        margin-bottom:0em;
      }
      .userDetailsForm textarea{
        width:100%
      }
      .payment{
        display: flex;
        flex-flow:column wrap;
        padding:1em;
      }
      .payment h3{
        font-size: 28px;
      }
      .payform{
        padding-top:2em;
      }
      .footerWhite >img {
        width:80%;
        height:40%;
      }
      .paymentPage{
        display:grid;
        grid-template-rows: 1fr 1fr;
      }
      .payTitle h1,p{
        font-size: 40px;
      }
      .payform h3{
        font-size: 20px;
      }
    }